<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="calendario.component.css">
    <title>Calendario</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="logo.png" alt="Logo de la empresa">
            </div>
            <ul class="menu">
                <li><a href="#contacto">Contacto</a></li>
                <li><a href="#acerca-de">Acerca de</a></li>
            </ul>
        </nav>
        <div class="user-actions">
            <button>Ingresar</button>
            <button>Empieza Ahora</button>
        </div>
    </header>

   
    <section class="social">
        <h2 class="social-title">Síguenos en Redes Sociales</h2>
        <div class="social-icons">
            <a href="#" class="social-icon"><img src="facebook-icon.png" alt="Facebook"></a>
            <a href="#" class="social-icon"><img src="twitter-icon.png" alt="Twitter"></a>
            <a href="#" class="social-icon"><img src="instagram-icon.png" alt="Instagram"></a>
            <a href="#" class="social-icon"><img src="linkedin-icon.png" alt="LinkedIn"></a>
        </div>
        <p class="copyright">&copy; 2023 Team. Todos los derechos reservados.</p>
    </section>
</body>
    </html>