<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="usuarioR.component.css">
    <title>UsuarioRegistrado</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="logo.png" alt="Logo de la empresa">
            </div>
            <ul class="menu">
                <li><a [routerLink]="['/contacto']">Contacto</a></li>
                <li><a [routerLink]="['/acerca-de']">Acerca de</a></li>
                <li><a [routerLink]="['/agendar']">Agendar</a></li>
                <li><a [routerLink]="['/miAgenda']">Mi agenda</a></li>
            </ul>
        </nav>
        <div class="user-actions">
            <i class="material-icons">person</i>
        </div>
    </header>

    
    <section class="reserva">
        <div class="reservation-list">
            <h2>Lista de Reservas</h2>
            <table>
              <thead>
                <tr>
                  <th>Nombre del Cliente</th>
                  <th>Fecha de Reserva</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let reservation of reservations">
                  <td>{{ reservation.name }}</td>
                  <td>{{ reservation.date }}</td>
                  <td>
                    <button (click)="viewReservationDetails(reservation)">Ver Detalles</button>
                    <button (click)="deleteReservation(reservation)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </section>

    <section class="social">
        <h2 class="social-title">Síguenos en Redes Sociales</h2>
        <div class="social-icons">
            <a href="#" class="social-icon"><img src="facebook-icon.png" alt="Facebook"></a>
            <a href="#" class="social-icon"><img src="twitter-icon.png" alt="Twitter"></a>
            <a href="#" class="social-icon"><img src="instagram-icon.png" alt="Instagram"></a>
            <a href="#" class="social-icon"><img src="linkedin-icon.png" alt="LinkedIn"></a>
        </div>
        <p class="copyright">&copy; 2023 Team. Todos los derechos reservados.</p>
    </section>
</body>
    </html>